*{
    margin: 0 auto;
    box-sizing: border-box;
   font-family: "Texturina", serif;
}
body{
    background-color: #8f3700;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1{
   
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.nav2{
    
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 80px;
    height: 90%;
    background-image: url("/imagens/LOGO.png");
    background-size: 80px;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.opcoes{
    
    margin-top: 5px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personagem{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/personagem.png");
    background-size: 55px;
    background-repeat: no-repeat;
   
}

.historia{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/historia.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.itens{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/itens.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.artes{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/artes.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.contato{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/contato.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.nome{
    
    height: 50px;
    width: 20%;
}
.menu{
  
    height: 50px;
    width: 79%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}
.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0;
}

.som{
    width: 10%;
    margin: 0;

}

.iconPlay{
    fill:hwb(0 100% 0%);
    height: 25px;
    margin: 0;
    width: 100px;
}

.login{
     width: 30%;
     margin: 0;
}

.loginIcon{
    width: 15%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0;
    fill: white;
} 

.carossel{
    width:100%;
    height: 410px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background-color: black;
}

main{
    width:90%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.Perso{
    width:100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.cont1{
    height: 80%;
    width: 60%;
    color: white;
    display: flex;
}
.cont2{
    background-image: url("/imagens/art1.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
    height: 80%;
    width: 20%;
} 

.pesq{
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 10px;
    width: 80%;
    height: 25px;
}
.nome{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    width: 60%;
}

.colecao{
    background-color: #48271a;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: white;
    
}
.caracters{
    background-color: #48271a;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
}

.oferta{
    margin-top: 20px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.of1{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 1.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of2{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 2.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of3{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 3.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of4{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 4.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of5{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 5.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

@media (max-width:700px){

    .introducao{
        font-size: 15px;
    }
}
.of6{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 6.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of7{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 7.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

footer{
    background-color: #48271a;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.criador{
    height: 80%;
    width: 40%;

}
.contato2{
    height: 80%;
    width: 20%;
}
.cont3{
    background-image: url("/imagens/art5.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
    height: 75%;
    width: 20%;
    margin-right: -200px;
}
.cont4{
    color: white;
    height: 78%;
    width: 45%;
    font-size: 18px;
}
.cajado{
    width: 15%;
    height: 100%;
    align-items: start;
    display: flex;
    justify-content: start;
    margin: 0;
    background-image: url("imagens/varinha.png");
    background-repeat: no-repeat;
    background-size: 78px;
}
.introducao{
    width: 100%;
    height: 80%;
    font-size: 1rem;
}

.categoria{
    margin-top: 45px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cat{
    background-color: #925d3c;
    margin: 0;
    width: 15%;
    height: 400px;
}
.cat2{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat3{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat4{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat5{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat6{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat7{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
.cat8{
    background-color: #8f3700;
    margin: 0;
    width: 20%;
    height: 450px;
    border: solid red;
}
