*{
    margin: 0 auto;
    box-sizing: border-box;
   font-family: "Texturina", serif;
}
body{
    background-color: #8f3700;
}
header{
    border: solid 2px brown;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1{
    border: solid 2px;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.nav2{
    border: solid 2px;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: solid 2px blue;
    width: 10%;
    height: 80%;
    margin-top: 5px;
}
.opcoes{
    
    margin-top: 5px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personagem{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/personagem.png");
    background-size: 55px;
    background-repeat: no-repeat;
   
}

.historia{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/historia.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.itens{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/itens.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.artes{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/artes.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.contato{
    margin: 0;
    width: 15%;
    height: 70px;
    background-image: url("/imagens/contato.png");
    background-size: 55px;
    background-repeat: no-repeat;
}

.nome{
    
    height: 50px;
    width: 20%;
}
.menu{
  
    height: 50px;
    width: 79%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}
.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0;
}

.som{
    width: 10%;
    margin: 0;

}

.iconPlay{
    fill:hwb(0 100% 0%);
    height: 25px;
    margin: 0;
    width: 100px;
}

.login{
     width: 30%;
     margin: 0;
}

.loginIcon{
    width: 15%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0;
    fill: white;
} 

.carossel{
    border: solid 2px rgb(221, 26, 59);
    width:100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

main{
    border: solid 2px rgb(66, 166, 238);
    width:90%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.cont1{
    border: solid 2px rgb(16, 211, 91);
    height: 60%;
    width: 40%;
}
.cont2{
    border: solid 2px rgb(16, 211, 91);
    height: 80%;
    width: 20%;
} 

.pesq{
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 10px;
    width: 80%;
    height: 25px;
}
.nome{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    width: 60%;
}

.colecao{
    background-color: #48271a;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: white;
    
}

.oferta{
    margin-top: 20px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.of1{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 1.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of2{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 2.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of3{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 3.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of4{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 4.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of5{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 5.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of6{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 6.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
.of7{
    margin: 0;
    width: 10%;
    height: 125px;
    background-image: url("/imagens/item\ 7.png");
    background-size: 100px;
    background-repeat: no-repeat;
}